<div class="add__company">
  <button class="add__btn" (click)="addMianCompany()">Добавить головную организацию</button>
  <button class="add__btn" (click)="addSecondCompany()">Добавить филиал</button>
</div>

<div *ngIf="mainCompanyForm" class="add-company">
  <span>Добавить головную организацию</span>
  <form action="#" class="main-company__form create-form">
    <div>
      <span>Полное наименование</span>
      <input type="text" name="fullname" class="create-form__item">
    </div>
    <div>
      <span>Сокращенное наименование</span>
      <input type="text" name="shortname" class="create-form__item">
    </div>
    <div>
      <span>ИНН</span>
      <input type="text" name="INN" class="create-form__item">
    </div>
    <div>
      <span>КПП</span>
      <input type="text" name="KPP" class="create-form__item">
    </div>
    <div>
      <span>Учредитель(ФИО)</span>
      <input type="text" name="CEO" class="create-form__item">
    </div>
    <div>
      <span>Адрес</span>
      <input type="text" name="address" class="create-form__item">
    </div>
    <div>
      <span>Телефон</span>
      <input type="text" name="phone" class="create-form__item">
    </div>
    <button class="create-form__btn">Добавить</button>
    <button class="create-form__btn" (click)="addMianCompany()">Отмена</button>
  </form>
</div>

<div *ngIf="secondCompanyForm" class="add-company">
  <form action="#" class="filial__form">
    <div>
      <span>Адрес офиса</span>
      <input type="text" name="filialAddress" class="filial__item" [(ngModel)]="filialAddress">
    </div>
    <div>
      <span>Телефон</span>
      <input type="text" name="filialPhone" class="filial__item" [(ngModel)]="filialPhone">
    </div>
    <div>
      <span>Должностное лицо(ФИО)</span>
      <input type="text" name="administrator" class="filial__item" [(ngModel)]="administrator">
    </div>
    <button class="create-form__btn" (click)="createFilial()" [disabled]="!filialAddress">Добавить</button>
    <button class="create-form__btn" (click)="addSecondCompany()">Отмена</button>
  </form>
</div>