.add__company {
    background: rgb(139, 139, 139);
    width: auto;
    height: 80px;
    display: flex;
    justify-content: start;
}
.add__btn {
    margin: 0 0 0 20px;
    width: auto;
    height: 40px;
    align-self: center;
    border-radius: 10px;
    background: rgb(226, 226, 226);
    border: 2px solid rgb(226, 226, 226);
    padding: 0 13px;
}
.add__btn:hover {
    background: #fff;
    border: 2px solid #4caf50;
    transition: border 0.4s;
}
.add__btn:active {
    background: #4caf50;
}
span {
    display: block;
    margin-top: 10px;
}
.hide {
    display: none;
}

.main-company {
    text-align: center;
    width: 300px;
    background: rgb(235, 235, 235);
    margin: 50px 50px;
    padding: 20px 0;
    border-radius: 25px;
}
.main-company__form {
    text-align: center;
    margin: 0 auto;
}
.create-form__item {
}
.create-form__btn {
    margin-top: 20px;
    /* margin-bottom: 20px; */
}
.create-form__btn:last-child {
    margin-left: 10px;
}
