.add__company {
    margin: 20px;
}
button:last-child {
    margin: 0 0 0 15px;
}
span {
    display: block;
    margin-top: 10px;
}
.hide {
    display: none;
}

.add-company {
    text-align: center;
    width: 300px;
    background: rgb(235, 235, 235);
    margin: 50px 50px;
    padding: 20px 0;
    border-radius: 25px;
}
.add-company__form {
}
.create-form__item {
}
.create-form__btn {
    margin-top: 20px;
    /* margin-bottom: 20px; */
}
.create-form__btn:last-child {
    margin-left: 10px;
}

.filial {
}
.filial__form {
}
.filial__item {
}
